images/
best_model/
full_model/
sample_submission_v2.csv
train_ship_segmentations_v2.csv
.DS_Store
.gitignore
.ipynb_checkpoints/exploratory_data_analysis-checkpoint.ipynb
.ipynb_checkpoints/model_training-checkpoint.ipynb
.ipynb_checkpoints/submission_creator-checkpoint.ipynb
.ipynb_checkpoints/test_model-checkpoint.ipynb